<div class="w-screen h-screen bg-white/50 flex justify-center items-center overflow-hidden py-10">
    <div class="max-h-full min-h-fit overflow-y-scroll transition-all duration-300 bg-amber-50/80 drop-shadow-md rounded-xl w-11/12 sm:w-9/12 md:w-6/12 lg:w-4/12 px-5 py-2">
        <add-todo (addTodo)="addNewTodo($event)"></add-todo>
        <filter-todos [(filterFunc)]="filterFunc"></filter-todos>
        <todo-list
            [todos]="todos.filter(filterFunc)"
        ></todo-list>
    </div>
</div>