<div class="w-screen h-screen bg-white/50 flex justify-center items-center overflow-hidden py-10">
    <div class="max-h-full min-h-fit overflow-y-scroll transition-all duration-300 bg-amber-50/80 drop-shadow-md rounded-xl w-11/12 sm:w-9/12 md:w-6/12 lg:w-4/12 px-5 py-2">
        <add-todo (addTodo)="addNewTodo($event)"></add-todo>
        <select class="my-2 px-2 py-1 rounded-md" [(ngModel)]="selectedOptionToShow">
            <option value=0>All</option>
            <option value=1>Incomplete</option>
            <option value=2>Completed</option>
        </select>
        <todo-list
            [todos]="todosToShow"
        ></todo-list>
    </div>
</div>